body {background-color:#0B0C10;
  display:grid;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
  height:100%}
  html {
    height:100%
  }
    @keyframes fadeInAnimation {
      0% {transform:translateY(20px);
          opacity: 0.5;
      }
      100% {transform:translateY(0px);
          opacity: 1;
       }}
       @keyframes faded {
        0% {transform:translateY(20px);
            opacity: 0.9;
        }
        100% {transform:translateY(0px);
            opacity: 1;
         }}
a {text-decoration: none;
      margin-top: -20px;
      color:white}
b {color:#C5C6C7}
p {color:#C5C6C7}
h1 {color:#C5C6C7}
h2 {color:#C5C6C7}
li{color:#C5C6C7}
b{color:#C5C6C7}
h3 {color:#C5C6C7;}
.d {color:#C5C6C7;}
span {color:#C5C6C7;}
h4 {color:#C5C6C7;
  animation: faded ease 2s;
  animation-iteration-count: 1}
input {border-radius:15px;
    font-size:15px;
    font-weight:bold;
    font-family:rubik;
    height:30px;
    width:250px;
    padding-left:12px;
    border:none;
    outline:none}
select {border-radius:15px
    }
.a2 {text-align:right;
        margin-right:30px;
        margin-top:-25px;
        font-size:15px;}
.a3 {margin-top:-48px;
        margin-left:120px;
        font-size:15px;}
.a4 a:hover {background: transparent;
        transition:none;
        -webkit-transition:none;
        padding:0px 0px}
        ::-webkit-scrollbar {
            width: 15px;
          }
          
          ::-webkit-scrollbar-track {
            background: #0B0C10;
          }
        
          ::-webkit-scrollbar-thumb {
            background: #101116;
            border-radius:20px
          }
          
          ::-webkit-scrollbar-thumb:hover {
            background: #15161d;
          }
        
          .text{animation: faded ease 3s;
            animation-iteration-count: 1;}
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type=number] {
              -moz-appearance: textfield;
            }
.checked {
  color: orange;
}
.box2 {display:solid;
  background:#1f2833;
  width:1912px;
  height:380px;
  margin-bottom:-20px;
  margin-left:-15px;
  margin-top:1000px}
.bo {display:solid;
    background:#1f2833;
    width:1920px;
    height:380px;
    margin-bottom:-20px;
    margin-left:-15px;
    margin-top:1000px}
    .box5 > div {display:block;
      background:white;
      height:200px;
      width:150px;
      border-radius:15px;
      margin-top:-20px;
      margin-left:100px;
      animation: faded ease 3s;
      animation-iteration-count: 1;
      transition: all 1s ease}
      .box5 {display:flex;
      width: 900px;
      height: 250px;
      margin-left:20px;
      padding:60px 25px;
      border-radius:15px;
      animation: faded ease 3s;
      animation-iteration-count: 1;}
      .box5 > div:hover {transform: translateY(-10px);
      transition: all 1s ease;}
      .text{animation: faded ease 2.5s;
        animation-iteration-count: 1;}
.bar{background-color:transparent;
    display: block;
    width: 1900px;
    height: 70px;
    margin-left:-15px;
    margin-right:auto;
    margin-top:0px;
    animation: faded ease 1.5s;
    animation-iteration-count: 1;
    position: sticky;
    top:0;
    z-index: 1;}

    .success {
      background: #eaf8f8;
      color: #54adb0;
      padding: 12px 10px 10px;
      width: 19%;
      border-radius: 5px;
      margin: 20px auto;
      outline: #54adb0 solid 1px;
  }
  
  .error {
      background: #fae9e9;
      color: #A94442;
      padding: 12px 10px 10px;
      width: 19%;
      border-radius: 5px;
      margin: 20px auto;
      outline-style: solid;
      outline-width: 1px;
      opacity: .9;}

      textarea {border-radius:15px;
        font-size:15px;
        font-weight:bold;
        font-family:rubik;
        height:30px;
        width:225px;
        padding-left:12px;
        border:none;
        outline:none}